* {
    font-family: Georgia;
    color: rgb(255, 255, 255);
}

footer {
    margin-top: 10%;
    text-align: center;
}

body {
    background-color: rgb(36, 65, 88); /* før grå 110,110,110 */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

header img {
    height: 100%;
    width: 100%;
    margin-bottom: 1%;
}

nav {
    word-spacing: 3.5em;
}

a:hover {
    color: rgb(60, 60, 60);
}

button {
    font-size: 40px;
    font-weight: bold;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.2em;
}

button:hover {
    color: rgb(60, 60, 60);
}

.center {
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 120px;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 40px;
    letter-spacing: 0.1em;
}

p {
    font-size: 30px;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
    color:inherit;
}



#html {
    margin-top: 10%;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

#html h2 {
    text-align: center;
}

#html p {
    margin-bottom: 10%;
    text-align: center;
}

#html img {
    width: 15%;
    height: 15%;
}

#css {
    margin-top: 10%;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

#css h2 {
    text-align: center;
}

#css p {
    margin-bottom: 10%;
    text-align: center;
}

#css img {
    width: 15%;
    height: 15%;
}


#js {
    margin-top: 10%;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

#js h2 {
    text-align: center;
}

#js p {
    margin-bottom: 10%;
    text-align: center;
}

#js img {
    width: 15%;
    height: 15%;
}



#home {
    font-size: 30px;
    font-weight: bold;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
}

#home:hover {
    color: rgb(60, 60, 60);
}



#copy {
    margin-top: 5%;
    font-size: 15px;
}